* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1502989642968-94fbdc9eace4?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcwMDkyMzY4Ng&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600);
}

.container__big-box {
  background: #000000;
  opacity: 0.8;
  border-radius: 25px;
  padding: 25px;
  width: 95%;
  max-width: 450px;
}

.input-city {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
  background-color: #7c7c7c2b;
  color: #ffffff;
  width: calc(100% - 70px);
}

.button-search {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  background-color: #7c7c7c2b;
  cursor: pointer;
  float: right;
}
.img-search {
  width: 20px;
}

.city {
  color: #ffffff;
  font-size: 28px;
  font-weight: 300;
}

.weather {
  font-size: 20px;
  color: #ffffff;
  margin-top: 20px;
}

.img-forecast {
}

.text-forecast {
  color: #ffffff;
  margin-left: 20px;
  text-transform: capitalize;
}

.humidity {
  color: #ffffff;
  margin-top: 20px;
}

.container__small-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.container__medium-box {
  margin-top: 30px;
}
